.swiper-container {
  width: 100%;
  height: 28vw;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

.img {
  height: 400px;
  width: 720px;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: hidden;
}

.swiper-container:hover > .swiper-button-prev {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-container:hover > .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
