.swiper-container {
  width: 100%;
  /* height: 26vw; */
  height: 100%;
  /* background-color: antiquewhite; */
  background-color: #282c34;
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: hidden;
}

.swiper-container:hover > .swiper-button-prev {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-container:hover > .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
